.scalesize {
    max-width : 50%;
    max-height: 50%;
    min-width : 50%;
    min-height: 50%;
}
.northward {
    transform: rotate(0deg);
}
.eastward {
    transform: rotate(90deg);
}
.southward {
    transform: rotate(180deg);
}
.westward {
    transform: rotate(270deg);
}
