.Board {
    min-width : 558px;
    max-width : 558px;
    min-height: 1116px;
    max-height: 1116px;
    position  : relative;
    padding   : 0;
}
.Tile {
    min-width : 279px;
    max-width : 279px;
    min-height: 279px;
    max-height: 279px;
    position  : absolute;
}
.Square {
    min-width : 70px;
    max-width : 70px;
    min-height: 70px;
    max-height: 70px;
}
.HorCard {
    min-width : 140px;
    max-width : 140px;
    min-height: 91px;
    max-height: 91px;
}
.VertCard {
    min-width : 92px;
    max-width : 92px;
    min-height: 141px;
    max-height: 141px;
}
.Dial {
    min-width : 421px;
    max-width : 421px;
    min-height: 273px;
    max-height: 273px;
}
.NoSpacing {
    padding: 0;
    margin : 0;
}
.Northward {
    transform: rotate(0deg);
}
.Eastward {
    transform: rotate(90deg);
}
.Southward {
    transform: rotate(1deg);
}
.Westward {
    transform: rotate(270deg);
}
