.Tile {
    min-width : 279px;
    max-width : 279px;
    min-height: 279px;
    max-height: 279px;
}
.Square {
    min-width : 69px;
    max-width : 69px;
    min-height: 69px;
    max-height: 69px;
}
.HorCard {
    min-width : 140px;
    max-width : 140px;
    min-height: 90px;
    max-height: 90px;
}
.VertCard {
    min-width : 91px;
    max-width : 91px;
    min-height: 140px;
    max-height: 140px;
}
.Northward {
    transform: rotate(0deg);
}
.Eastward {
    transform: rotate(90deg);
}
.Southward {
    transform: rotate(180deg);
}
.Westward {
    transform: rotate(270deg);
}
