.ScaleFactor {
    transform: scale(0.5);
}
.Northward {
    transform: rotate(0deg);
}
.Eastward {
    transform: rotate(90deg);
}
.Southward {
    transform: rotate(180deg);
}
.Westward {
    transform: rotate(270deg);
}
