.Message {
    border-style: solid;
    border-color: red;
}
.NoSpacing {
    padding: 0px;
    margin : 0px;
    border : 0px;
}
img {
    display: block;
}
.Northward {
    display: block;
}
.Eastward {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}
.Southward {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}
.Westward {
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    transform-origin: 50% 50%;
}
.NorthwardSquare {
    white-space: nowrap;
}
.EastwardSquare {
    white-space: nowrap;
    transform: translate(0px, -100%) rotate(90deg);
    transform-origin: 0px 100%;
}
.SouthwardSquare {
    white-space: nowrap;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}
.WestwardSquare {
    white-space: nowrap;
    transform: rotate(270deg) translate(-100%,0px);
    transform-origin: 0px 0px;
}
.Parent {
    position: relative;
}
.Child {
    position: absolute;
}
.TileContainer {
    width : 376px;
    height: 376px;
}
.SquareContainer {
    width : 94px;
    height: 94px;
}
.HorDoubleSquareContainer {
    width : 188px;
    height: 94px;
}
.VertDoubleSquareContainer {
    width : 94px;
    height: 188px;
}
.Center {
    margin: auto;
}
.Wagon {
    width : 65px;
    height: 56px;
}
.Flag {
    width : 45px;
    height: 57px;
}
.TechCoinPos {
    left: 10px;
    top : 70px;
}
.MarkedSquare {
    border: 5px dotted red;
}
.PossibleSquare {
    border: 5px dotted yellow;
}
.Blink {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}
.PlayerArea {
    // width: 200px;
    // height: 200px;
}
.PlayerArea-CityItem {
    z-index: 2;
}
.Map-SquareContainer {
    z-index: 1;
}
.Debug table {
    border: 5px solid gray;
    width: 400px;
}
.Debug-JsonArea {
    width: 600px;
    height: 50px;
}
.Test {
    border: 1px solid orange;
    background-color: #eeeeee;
}
.aPlayerArea {
    //width: 2500px;
    height: 1000px;
    width: auto !important;
}
.aCards {
    background-color: #cccccc;
}
.aCardsCulture {
    width: 200px;
    height: 200px;
    background-color: #aaaaaa;
    margin: 0 auto;
    float: left;
}
.aCardsPersons {
    width: 200px;
    height: 200px;
    background-color: #aaaaaa;
    float: left;
}
.aTechTree {
    width: 750px;
    height: 500px;
    float: left;
    background-color: #cccccc;
}
.aFigures {
    width: 300px;
    height: 150px;
    float: left;
    background-color: #aaaaaa;
}
.aInvestments {
    width: 300px;
    height: 500px;
    float: left;
    background-color: #cccccc;
}
.aPolicies {
    width: 600px;
    height: 500px;
    float: left;
    background-color: #aaaaaa;
}
.aDial {
    width: 600px;
    height: 400px;
    float: left;
    background-color: #aaaaaa;
}
.aSocialPolicies {
    width: 300px;
    height: 200px;
    float: left;
    background-color: #aaaaaa;
}
.aUnits {
    width: 300px;
    height: 400px;
    float: left;
    background-color: #cccccc;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: #000;
    filter: alpha(opacity=60);
    -moz-opacity: .60;
    opacity: .60;
    display: none;
}
#container {
    position: fixed!important;
    position: absolute;
    height: 200px;
    width: 400px;
    margin: -100px 0px 0px -200px;
    top: 50%;
    left: 50%;
    background-color: #f5f5f5;
    border: 1px solid #000000;
    display: none;
    z-index: 1002;
    padding: 10px;
}
@-webkit-keyframes blink  {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink  {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink  {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
