.Message {
    border-style: solid;
    border-color: red;
}
.NoSpacing {
    padding: 0px;
    margin : 0px;
    border : 0px;
}
img {
    display: block;
}
.Northward {
    display: block;
}
.Eastward {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}
.Southward {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}
.Westward {
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    transform-origin: 50% 50%;
}
.NorthwardSquare {
    white-space: nowrap;
}
.EastwardSquare {
    white-space: nowrap;
    transform: translate(0px, -100%) rotate(90deg);
    transform-origin: 0px 100%;
}
.SouthwardSquare {
    white-space: nowrap;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}
.WestwardSquare {
    white-space: nowrap;
    transform: rotate(270deg) translate(-100%,0px);
    transform-origin: 0px 0px;
}
.Parent {
    position: relative;
}
.Child {
    position: absolute;
}
.GameArea {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 350px;
    width: 350px;
    background-color: rgb(234, 196, 121);
    z-index: 100;
}
.Arena {
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #000;
    overflow-x: auto;
    overflow-y: auto;
    transform: scale(0.1);
    transform-origin: 15px 15px;
}
.ArenaZoom {
    position: absolute;
    top: 0;
    left: 0;
    border: 20px solid yellow;
    transform: scale(0.1);
    width: 500px;
    height: 500px;
    z-index: 125;
}
.Overview {
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
}
.TileContainer {
    width : 376px;
    height: 376px;
}
.TileContainer img {
    width: 376px;
    height: 376px;
}
.TileContainer-Row {
    height: 94px;
}
.TileContainer-OutOfBounds {
    width: 94px;
    height: 94px;
}
.SquareContainer {
    width : 94px;
    height: 94px;
}
.HorDoubleSquareContainer {
    width : 188px;
    height: 94px;
}
.VertDoubleSquareContainer {
    width : 94px;
    height: 188px;
}
.Center {
    margin: auto;
}
.Wagon {
    width : 65px;
    height: 56px;
}
.Flag {
    width : 45px;
    height: 57px;
}
.MarkedSquare {
    border: 5px dotted red;
}
.PossibleSquare {
    border: 5px dotted yellow;
}
.Blink {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}
.PlayerArea-CityItem {
    z-index: 2;
}
.PlayerArea {
    // border: 1px solid black;
}
.PlayerArea-Cards,.PlayerArea-Cards-Culture,.PlayerArea-Cards-GreatPersons,.PlayerArea-Techtree,.PlayerArea-Items,.PlayerArea-Policies,.PlayerArea-Dial,.PlayerArea-Units,.PlayerArea-Wagons,.PlayerArea-Flags,.PlayerArea-TechArea {
    // border: 1px solid black;
}
.Areas td {
    // border: 1px solid black;
}
.TechTree-Item {
    position: relative;
    z-index: 1;
}
.TechTree-Item-TechCard {
    position: relative;
}
.TechTree-Item-Coin {
    position: absolute;
    left: 10px;
    top : 70px;
    z-index: 2;
}
.Centre {
    text-align: center;
    vertical-align: middle;
}
.Sidebar {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 300px;
    border: 1px solid black;
    background-color: lightyellow;
    z-index: 10;
    padding: 10px;
}
.DebugArea {
    position: fixed;
    bottom: 0px;
    right: 250px;
    height: 400px;
    width: 600px;
    border: 1px solid black;
    background-color: lightgray;
    padding: 10px;
    z-index: 11;
    display: none;
}
.Dialog-Test {
    display: none;
}
.Map-Col {
    width: 94px;
    height: 0px;
}
.Map-Row {
    height: 94px;
}
.Map-Layer1 {
    z-index: 1;
    border: 1px solid black;
}
.Map-Layer2 {
    z-index: 2;
}
.PlateContainer {
    height: 90%;
    width: 90%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.SquareContainer .PlateContainer img {
    transform: scale(1);
    transform-origin: center;
}
.DoubleSquareContainer {
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid gold;
}
.VertDoubleSquareContainer .PlateContainer img {
    transform-origin: center;
}
.VertDoubleSquareContainer .PlateContainer.EastwardPlate img {
    transform: translateX(-25%) translateY(50%) rotate(90deg) scale(1);
    -moz-transform: translateX(-25%) translateY(50%) rotate(90deg) scale(1);
    -webkit-transform: translateX(-25%) translateY(50%) rotate(90deg) scale(1);
    -o-transform: translateX(-25%) translateY(50%) rotate(90deg) scale(1);
}
.VertDoubleSquareContainer .PlateContainer.WestwardPlate img {
    transform: translateX(-25%) translateY(50%) rotate(-90deg) scale(1);
    -moz-transform: translateX(-25%) translateY(50%) rotate(-90deg) scale(1);
    -webkit-transform: translateX(-25%) translateY(50%) rotate(-90deg) scale(1);
    -o-transform: translateX(-25%) translateY(50%) rotate(-90deg) scale(1);
}
.Map-SquareContainer {
    border: 1px solid grey;
}
.collapsibleList li > input + * {
    display: none;
}
.collapsibleList li > input:checked + * {
    display: block;
}
.collapsibleList li > input {
    display: none;
}
.collapsibleList label {
    cursor: pointer;
    color: blue;
}
@-webkit-keyframes blink  {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink  {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink  {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
