.Message {
    border-style: solid;
    border-color: red;
}
.NoSpacing {
    padding: 0px;
    margin : 0px;
    border : 0px;
}
img {
    display: block;
}
.Northward {
    display: block;
}
.Eastward {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}
.Southward {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}
.Westward {
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    transform-origin: 50% 50%;
}
.NorthwardSquare {
    white-space: nowrap;
}
.EastwardSquare {
    white-space: nowrap;
    transform: translate(0px, -100%) rotate(90deg);
    transform-origin: 0px 100%;
}
.SouthwardSquare {
    white-space: nowrap;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}
.WestwardSquare {
    white-space: nowrap;
    transform: rotate(270deg) translate(-100%,0px);
    transform-origin: 0px 0px;
}
.Parent {
    position: relative;
}
.Child {
    position: absolute;
}
.TileContainer {
    width : 376px;
    height: 376px;
}
.SquareContainer {
    width : 94px;
    height: 94px;
}
.HorDoubleSquareContainer {
    width : 188px;
    height: 94px;
}
.VertDoubleSquareContainer {
    width : 94px;
    height: 188px;
}
.Center {
    margin: auto;
}
.Wagon {
    width : 65px;
    height: 56px;
}
.Flag {
    width : 45px;
    height: 57px;
}
.MarkedSquare {
    border: 5px dotted red;
}
.PossibleSquare {
    border: 5px dotted yellow;
}
.Blink {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}
.PlayerArea-CityItem {
    z-index: 2;
}
.Map-SquareContainer {
    z-index: 1;
}
.PlayerArea {
    border: 1px solid black;
}
.PlayerArea-Cards,.PlayerArea-Cards-Culture,.PlayerArea-Cards-GreatPersons,.PlayerArea-Techtree,.PlayerArea-Items,.PlayerArea-Policies,.PlayerArea-Dial,.PlayerArea-Units,.PlayerArea-Wagons,.PlayerArea-Flags,.PlayerArea-TechArea {
    border: 1px solid black;
}
.Areas td {
    // border: 1px solid black;
}
.TechTree-Item {
    position: relative;
    border: 1px solid orange;
    z-index: 0;
}
.TechTree-Item-TechCard {
    position: relative;
}
.TechTree-Item-Coin {
    position: absolute;
    left: 10px;
    top : 70px;
    z-index: 1;
}
@-webkit-keyframes blink  {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink  {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink  {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
